<mt:setvar name="page_title" value="Share Preview">
<$mt:setvar name="position_actions_bottom" value="1"$>

<mt:setvarblock name="form_header">
<form name="preview_share_form" id="preview_share_form" method="post" action="<$mt:var name="script_url">" mt:once="1">
    <input type="hidden" name="entry_id" value="<mt:var name="entry_id">" />
    <input type="hidden" name="return_to" value="<mt:var name="redirect">" />
    <input type="hidden" name="__mode" value="do_preview_share" />
</mt:setvarblock>

<mt:setvarblock name="form_footer">
</form>
</mt:setvarblock>

<mt:include name="include/header.tmpl">

<mtapp:setting
   id="share_url"
   label="Preview URL">
  <p><a href="<mt:var name="preview_url">"><mt:var name="preview_url"></a></p>
  <mt:loop name="preview_urls">
    <mt:if __first__>
    <ul>
    </mt:if>
    <li><a href="<mt:var name="preview_url">"><mt:var name="preview_url"></a></li>
    <mt:if __last__>
    </ul>
    </mt:if>
  </mt:loop>
</mtapp:setting>

<mtapp:setting
   id="share_to"
   hint="Email addresses to which a sharing notification will be sent.  Multiple addresses should be separated with commas."
   show_hint="1"
   required="1"
   label="Share Preview With">
  <input type="text" class="full-width" name="share_to" id="share_to" />
</mtapp:setting>

<mtapp:setting
   id="share_message"
   label="Message">
  <textarea name="share_message" id="share_message" cols="" rows="" class="full-width short"></textarea>
</mtapp:setting>

<mt:setvarblock name="action_buttons">
  <button
     type="submit"
     title="Share Preview"
     class="primary-button">Share Preview</button>
  <button
     type="cancel"
     title="Return to Entry"
     class="cancel">Return to Entry</button>
</mt:setvarblock>
<mt:include name="include/actions_bar.tmpl" bar_position="bottom" hide_pager="1" settings_bar="1">

<mt:include name="include/footer.tmpl">

